name: 'Azure Dev'

on:
  push:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build and deploy

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release

    - name: Test
      run: dotnet test -c Release

    - name: Publish
      run: dotnet publish src/WebApi -c Release -o publish

    - name: Azure Login
      uses: Azure/login@v1
      with:
        # creds: ${{ secrets.AZURE_CREDENTIALS }}
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy Web App to Azure
      uses: Azure/webapps-deploy@v2
      with:
        app-name: 'appsvc-${{ secrets.AZURE_ENV_NAME }}-api'
        package: publish
